.post {
  background: white;
  max-width: 600px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.post__image {
  height: 22rem;
  object-fit: cover;
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.post__caption {
  font-weight: normal;
  padding: 10px;
  padding-bottom: 20px;
}

.post_comment_box {
  display: flex;
}
.post_input {
  flex: 1;
  border: none;
  padding: 5px 10px;
}
.post_button {
  flex: 0;
}
.post_comments b {
  padding-right: 5px;
}
.post_comments p {
  padding: 5px 10px;
}
